/* global settings */
* {
    margin: 0;
    padding: 0;
    font-family: Arial;

    /* font-size: 1000px; */
}

p, a, ul {
    font-size: 16px;
}
h1 {
    font-size: 30px;
}

/* define grids */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
        'nav1'
        'nav2'
        'main'
        'footer';

    height: 100vh;
}

section {
    display: grid;
    /* column-gap: 100em; */
    row-gap: 4vh;
    grid-template-columns: 1fr;
    grid-template-rows: .001vh 1fr 1fr 1fr .001vh;
    grid-template-areas:
        'blank-spacer-top'
        'body-row-1'
        'body-row-2'
        'body-row-3'
        'blank-spacer-bottom'
        ;
}

/* define grid areas */

/* main grid */
#grid-row-one {
    grid-area: nav1;
    /* background-color: #F6F6F8; */
    background-color: #c5d5cb;

    display: flex;
    justify-content: space-between;
    align-items: center;
   
    height: 4vh;
}

#grid-row-two {
    grid-area: nav2;
    /* background-color: #E3E3E3; */
    background-color: #9fa8a3;

    display: flex;
    justify-content: space-around;
    align-items: center;

    height: 4vh;
}

#grid-row-three {
    grid-area: main;
    overflow: auto;

    /* background-color: #F6F6F8; */
    background-color: #e3e0cf;

}

#grid-row-last {
    grid-area: footer;
    /* background-color: #E3E3E3; */
    background-color: #c5d5cb;

    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 8vh;
    /* height: 10%; */
}

/* body grid (not header or footer) */
#body-row-1 {
    grid-area: body-row-1;

    display: grid;
    grid-template-rows: 1fr 4fr 14fr 4fr 3fr;
    grid-template-columns: 1fr 5fr 1fr 9fr 1fr;

    width: 100vw;
    height: 80vh;
}

#bio-pic {
    /* grid-column-start: 2; */
    /* grid-column-end: 4; */
    grid-column: 2 / span 2;
    /* grid-row-start: 2; */
    /* grid-row-end: 5; */
    grid-row: 2 / span 3;

    /* background-color: red; */

    background-image: url("images/pic6.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
}

#bio-text {
    grid-column: 3 / span 2;
    grid-row: 3 / span 1;
    background-color: white;
}

.bullet-parent {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
    /* color: coral; */

}

ul > h1 {
    font-size: 45px;
}

ul li::before {
    /* https://www.geeksforgeeks.org/how-to-set-bullet-colors-in-html-lists-using-only-css/#:~:text=First%20of%20all%2C%20there%20is%20not%20direct%20way,comes%20before%20each%20list%20item%20of%20the%20list. */
    /* Add Unicode of the bullet */
    content: "\25AA";  
      
    /* Color of the content -- bullet here */
    color: green; 
      
    /* Required to add space between 
         the bullet and the text */
    display: inline-block; 
      
    /* Required to add space between
         the bullet and the text */
    width: 1em; 
      
    /* Required to add space between the
         bullet and the text */
    margin-left: -0.9em; 

    font-weight: bolder;
    /* font-size: 1.4rem; */
    font-size: 20px;
 }

.bullet {
    color: black;
    /* list-style: square; */
    margin: 10px;
    padding: 10px;
    /* type: square; */
    font-size: 25px;
}

#bio-texture {

}

#body-row-2 {
    grid-area: body-row-2;

    background-image: url('images/pic8.jpeg');
    background-position: center center;
    /* background-image: url("images/pic8.jpeg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: .8;

    height: 60vh;

    color: white;
    font-weight: bold;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "text-here"
        "blank1"
        "blank2"
    ;
}

#firm-overview-text {
    grid-area: text-here;
}

#firm-overview-text > h1 {
    color: white;
    font-weight: bolder;
}

#body-row-3 {
    grid-area: body-row-3;

    display: grid;
    grid-template-columns: 5vw 1fr 1fr 1fr 5vw;
    grid-template-rows: 5vw 1fr 1fr 1fr 5vw;

    height: 60vh;
    width: 100vw;

}

#box-1 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;

    /* background-color: red; */

    background-image: url("images/pic6.jfif");
    background-repeat: no-repeat;
    background-size: 100%;

}

#box-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 6;

    background-color: rgba(0, 0, 2, .1);
    /* opacity: .1; */
    color: black;
    font-weight: bold;


    display: flex;
    /* align-items: flex-end; */
    justify-content: flex-end;
    /* justify-content: center; */
}

/* multi use classes */
.flex-center-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
    padding: 15px;
   
}


/* Standard Tags */
h1 {
    font-size: 30px;
    color: black;
    font-weight: bold;
   
}

p {
    font-size: 20px ;
}

/* Transitions */
ul:hover {
    /* color: black; */
    /* font-weight: bold; */
    /* font-style: italic; */
    /* border: 1px solid black; */
}

#blank-spacer-top {
    grid-area: blank-spacer-top;
}

#blank-spacer-bottom {
    grid-area: blank-spacer-bottom;
}

#fb-logo {
    height: 7.8vh;
    width: 7.8vh;
    /* border: 1px black solid; */
    background-color: #c5d5cb;
}

#fb-logo-img {
    height: 100%;
    width: 100%;
    background-color: #c5d5cb;
}

.logo-pure-css {
	background: #4661b0; /* make it "Facebook blue" */
	text-indent: -999em; /* Back the actual text in the paragraph tag out of the element */
	width: 100px;/* Make it nice and big  */
	height: 110px; /*The tag is 10px larger because of how we're handling the borders below
    /* width: 100%;
    height: 110%; */
	border-radius: 3px; /* for that oh so important modern look */
	position: relative; /* so we can position our other elements absolutely */
	overflow: hidden; /* so we can hide any overflow those elements will have */
	border: 15px solid #4661b0; /* so we can make it look like the F is not butting up against the right side of the box */
	border-bottom: 0; /* removing the border here though, because the F does touch the bottom of the box */
}

.logo-pure-css:before {
	content: "/20"; /* Psuedo elements need something for content, this means a blank space */
	position: absolute; /* So we can position it exactly where we want it */
	background: #4661b0; /* make the box the same Facebook blue */
	width: 40px; /* setup the right width, which actually extends the box outside of the containing element (along with our positioning below) */
	height: 90px; /* this also extends the trunk outside of the main box */
	bottom: -30px; /* as mentioned above, we pull the box we're using to create the trunk of the F down to hide some of it, because it will have rounded corners on all sides */
	right: -37px; /* similar to what we're doing with bottom above */
	border: 20px solid white; /* make the remaining visible border white and thick enough to look right */
	border-radius: 25px; /* now give the top right visible corner the necessary curve */
}

.logo-pure-css:after {
	content: "/20"; /* again, pseudo elements need content to be visible */
	position: absolute;  /* and we're going to want to position absolutely */
	width: 55px;  /* the desired width of the box to make the bar long enough */
	top: 50px;  /* set it in the proper location */
	height: 20px;  /* make it thick enough */
	background: white;  /* and the right color */
	right: 5px;  /* then back it up from the edge of the containing block a bit */
}

/*
TODO

attach her url to the page  in aws
share it with her

heights with min max so it doesn't shrink like it does 



turn the block of text bio into something with bullets that is legible

I think I need new BS columns around the edges 
need the first row to be a big wide picture with the firm name
maybe look into grid to add column padding on the edges? for the 2nd grid, not the OG.
similiarly, look into padding or margin to make the header and footer a little cleaner.

all the body rows are flexbox, or can be -- can use that to orient my content. if it would help,
could set the body rows to be a third grid rather than a flexbox for even more flavor

factor out everything into variables
think a little more about the color scheme

add facebook and email buttons

when you scroll up at the top, you see white. can that be fixed

get internal page links working

set up active links

DEVELOP MOBILE VERSION AHHHHH
*/
